name: Build release artifact

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  build:
    # Disable since we have build isolation with docker
    if: false
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup rust cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          cache-on-failure: true
          shared-key: release
        timeout-minutes: 5

      - name: Pre-compile
        run: cargo build --release
        timeout-minutes: 10

      - name: Rename artifact
        run: ln target/release/pkg-info-updater /tmp/pkg-info-updater-$OS-$ARCH
        env:
          OS: linux
          ARCH: amd64

      - name: Upload asset
        run: |
          set -x
          gh release upload ${GITHUB_REF#refs/tags/} /tmp/pkg-info-updater-$OS-$ARCH
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OS: linux
          ARCH: amd64
