name: Rust

on:
  push:
    branches: [main]
    paths:
      - src/**
      - tests/**
      - Cargo.toml
      - Cargo.lock
      - rust-toolchain.toml
      - .github/workflows/rust.yml
  pull_request:
    branches: [main]
    paths:
      - src/**
      - tests/**
      - Cargo.toml
      - Cargo.lock
      - rust-toolchain.toml
      - .github/workflows/rust.yml

env:
  RUSTFLAGS: -D warnings

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        timeout-minutes: 2

      - name: Setup rust cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        timeout-minutes: 5

      - name: Check format
        run: cargo fmt --check
        timeout-minutes: 2

      - name: Build test
        run: cargo build --tests --workspace
        timeout-minutes: 5

      - name: Run clippy
        run: cargo clippy --workspace
        timeout-minutes: 5

      - name: Run test
        run: cargo test --workspace
        timeout-minutes: 5
